:host {
    position: relative;
  
    .botao-canto-superior {
      position: absolute;
      top: 300px; /* ajuste conforme necessário */
      right: 10px; /* ajuste conforme necessário */
    }
  }
  