<div class="main-content">
    <div class="container-fluid">
      <div>
        <div class="row margem justify-content-end">
          <button mat-raised-button color="warn" (click)="openDialog()">Adicionar</button>
  
        </div>
  
        <div class="container">
          <table mat-table [dataSource]="experimentoDataSource" matSort class="mat-elevation-z8 demo-table">
            <div class="margem">
              <!-- Nome do Equipamento Column -->
              <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Equipamento </th>
                <td mat-cell *matCellDef="let row" style="padding-left: 10px; padding-right: 10px;"> {{row.titulo}} </td>
              </ng-container>
              </div>
  
              <!-- Status Column -->
              <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let row" style="padding-left: 10px; padding-right: 10px;"> {{row.descricao}} </td>
              </ng-container>
              
                 <!-- Status Column -->
                 <ng-container matColumnDef="data">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                  <td mat-cell *matCellDef="let row" style="padding-left: 10px; padding-right: 10px;"> {{row.data_cadas}} </td>
                </ng-container>
              <!-- Adicione mais colunas conforme necessário -->
  
              <!-- Coluna de Ações -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let experimento">
                  <button mat-icon-button  (click)="openDialog(experimento)">    <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
                  </button>
                  <button mat-icon-button  (click)="deleteExperimentos(experimento.id)">    
                    <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                  </button>
              
                </td>
              </ng-container>
  
  
            <!-- Definir a ordem das colunas -->
            <tr mat-header-row *matHeaderRowDef="experimentoColuns"></tr>
            <tr mat-row *matRowDef="let row; columns: experimentoColuns;"></tr>
          </table>
        </div>
  
      </div>
  
    </div>
  </div>